body {
    background-color: red;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.imagePhoto {
    width: 100px;
    height: 100px;
}

.meImage {
    width: auto;
    height: auto;
    max-width: 500px;
    max-height: 500px;
}

.sectionFlex {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 20px;
}

#kos {
    color: red;
    font-family: fantasy;
    font-size: 1rem;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: white;
}

footer {
    background-color: #212529;
    color: white;
}
